:root {
  color-scheme: light dark;

  --primary-bg: light-dark(ghostwhite, #1f1f1f);
  --secondary-bg: light-dark(gainsboro, #3f3f3f);

  --primary-text: light-dark(black, #f0f0f0);
  --link-text: light-dark(#00E, #3df);

  --theme: light-dark(deepskyblue, #3ea6ff);
  --tips: #9f9f9f;
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
  margin: 1rem 2rem;

  & > * {
    margin: 2rem auto;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > section:last-of-type {
    margin-bottom: 0;
  }
}

section {
  & > * {
    margin: 1rem auto;
  }

  & > h2 {
    border-left: .3rem solid var(--theme);
    padding-left: .5rem;
  }
}

a {
  color: var(--link-text);
}

h1 {
  font-size: 120%;
  font-weight: bold;
}

h2 {
  font-size: 110%;
  font-weight: bold;
}

ul {
  padding-left: 1.75rem;

  & > li {
    margin: auto;
    list-style-type: disc;
  }
}

img {
  display: block;
  margin: .5rem auto;
}

details {
  background: var(--secondary-bg);
  border-radius: .5rem;
  padding: .5rem;

  & > *:not(summary) {
    margin: 1rem auto;
    padding-left: 1rem;
  }

  & > ol {
    padding-left: 2rem;

    & > li {
      margin: 1rem auto;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &:open > summary::before {
    transform: rotate(-135deg);
  }
}

summary {
  display: block;
  list-style: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display:none;
  }

  & h2 {
    display: inline;
    font-weight: normal;
    font-size: 100%;
  }

  &::before {
    transition: .2s;
    margin-right: .5rem;
    content: "";
    display: inline-block;
    height: .75rem;
    width: .75rem;
    border-bottom: .25rem solid var(--theme);
    border-left: .25rem solid var(--theme);
    border-radius: .25rem;
    transform: rotate(-45deg);
  }
}

form {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25rem 0;

  & > *:nth-child(2n + 1) {
    justify-self: left;
  }

  & > *:nth-child(2n + 2) {
    justify-self: center;
  }

  & label::after {
    content: " :";
  }

  & input[type="checkbox"] {
    transform: scale(1.5);
    accent-color: var(--theme);
  }

  & input[type="number"] {
    text-align: right;
  }
}

input[type="file"] {
  padding-right: .5rem;
}

button {
  width: 4rem;

  &:disabled {
    cursor: default;
  }
}

button, input[type="file"], input::file-selector-button {
  cursor: pointer;
  border: none;
}

button, input[type="file"] {
  display: block;
  border-radius: .5rem;
}

button, input::file-selector-button {
  padding: .5rem;
  background: var(--theme);
}

button:disabled, input[type="file"] {
  background: var(--secondary-bg);
}

canvas {
  display: block;
  max-width: 70%;
}

#status {
  text-align: center;

  &::after {
    display: none;
    content: "";
    vertical-align: middle;
    color: var(--theme);
    line-height: 1;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid currentColor;
    border-top-color: var(--secondary-bg);
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate .75s linear infinite;
  }

  &.in-progress::after {
    display: inline-block;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.example {
  width: 90%;
}

.result {
  width: 30%;
}

.tips {
  margin: .25rem;
  padding-left: .25rem;
  border-left: .15rem solid var(--tips);
}

.hidden {
  display: none;
}
